<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <div class="form__field width100">
        <label for="oldPassword">
            <f:translate key="tx_feregister_domain_model_frontenduser.password_old" />
        </label>
        <f:form.password
            id="oldPassword"
            name="passwordNew[old]"
            additionalAttributes="{autocomplete: 'off'}"
        />
    </div>

    <div class="form__field width100">
        <label for="newPassword">
            <f:translate key="tx_feregister_domain_model_frontenduser.password_new" />
        </label>
        <f:form.textfield
            id="newPassword"
            name="passwordNew[first]"
            value="{passwordNew.first}"
            additionalAttributes="{autocomplete: 'off'}"
        />
    </div>

    <div class="form__field width100">
        <label for="newPasswordRepeat">
            <f:translate key="tx_feregister_domain_model_frontenduser.password_new_repeat" />
        </label>
        <f:form.textfield
            id="newPasswordRepeat"
            name="passwordNew[second]"
            value="{passwordNew.second}"
            additionalAttributes="{autocomplete: 'off'}"
        />
    </div>
</html>