<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
      xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Email/{mailType}" />
    
    <!-- PLAINTEXT -->
    <f:section name="Plaintext"><postmaster:email.plaintextLineBreaks>
        <postmaster:email.translate key="templates_email_passwordReset.headline" languageKey="{frontendUser.txFeregisterLanguageKey}" extensionName="feRegister" />\n\n
        
        <postmaster:email.translate key="templates_email_passwordReset.text1" languageKey="{frontendUser.txFeregisterLanguageKey}" extensionName="feRegister" arguments="{0 : plaintextPasswordForMail}"/>\n\n
        
        <postmaster:email.translate key="templates_email_passwordReset.text2" languageKey="{frontendUser.txFeregisterLanguageKey}" extensionName="feRegister" />\n\n
        
        <postmaster:email.translate key="templates_email_passwordReset.loginLabel" languageKey="{frontendUser.txFeregisterLanguageKey}" extensionName="feRegister" />:\n
        <postmaster:email.uri.action pageUid="{settings.loginPid}" absolute="true" additionalParams="{referrer: referrer}" noCacheHash="true"/>
        </postmaster:email.plaintextLineBreaks></f:section>
    
    <!-- HTML -->
    <f:section name="Html">
        <h1><postmaster:email.translate key="templates_email_passwordReset.headline" languageKey="{frontendUser.txFeregisterLanguageKey}" extensionName="feRegister" /></h1>
    
        <p><postmaster:email.translate key="templates_email_passwordReset.text1" languageKey="{frontendUser.txFeregisterLanguageKey}" extensionName="feRegister" arguments="{0 : ''}"/><strong>{plaintextPasswordForMail}</strong></p>
        <p><postmaster:email.translate key="templates_email_passwordReset.text2" languageKey="{frontendUser.txFeregisterLanguageKey}" extensionName="feRegister" /></p>
        <p><a href="<postmaster:email.uri.action pageUid='{settings.loginPid}' absolute='true' additionalParams='{referrer: referrer}' noCacheHash='true'/>"><postmaster:email.translate key="templates_email_passwordReset.loginLabel" languageKey="{frontendUser.txFeregisterLanguageKey}" extensionName="feRegister" /></a></p>
    </f:section>

</html>