<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
      xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Email/{mailType}" />


    <!-- PLAINTEXT -->
    <f:section name="Plaintext"><postmaster:email.plaintextLineBreaks>
        <postmaster:email.recipientSalutation queueRecipient="{queueRecipient}"
               prependText="{postmaster:email.translate(key:'templates_email_group_optinWithdrawAdmin.headline', languageKey:'{queueRecipient.languageCode}', extensionName:'feRegister')}, "
               appendText="!"
               fallbackText="{postmaster:email.translate(key:'templates_email_group_optinWithdrawAdmin.headline', languageKey='{queueRecipient.languageCode}', extensionName:'feRegister')}!"
        />\n\n

        <postmaster:email.translate key="templates_email_group_optinWithdrawAdmin.text1" languageKey="{queueRecipient.languageCode}" extensionName="feRegister" arguments="{0: frontendUserGroup.title}" />\n\n
        
        {frontendUser.firstName} {frontendUser.lastName} ({frontendUser.email}) \n\n
    </postmaster:email.plaintextLineBreaks></f:section>


    <!-- HTML -->
    <f:section name="Html">
        <h1>
            <postmaster:email.recipientSalutation queueRecipient="{queueRecipient}"
                   prependText="{postmaster:email.translate(key:'templates_email_group_optinWithdrawAdmin.headline', languageKey:'{queueRecipient.languageCode}', extensionName:'feRegister')}, "
                   appendText="!"
                   fallbackText="{postmaster:email.translate(key:'templates_email_group_optinWithdrawAdmin.headline', languageKey='{queueRecipient.languageCode}', extensionName:'feRegister')}!"
            />
        </h1>
        <p><postmaster:email.translate key="templates_email_group_optinWithdrawAdmin.text1" languageKey="{queueRecipient.languageCode}" extensionName="feRegister" arguments="{0: frontendUserGroup.title}" /></p>
        <p><strong>{frontendUser.firstName} {frontendUser.lastName} ({frontendUser.email})</strong></p>
    </f:section>
</html>
