<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">
        <h2><f:translate key="templates_password_edit.headline" /></h2>

        <f:render partial="AllFlashMessages" arguments="{_all}" />
        <f:render partial="FormErrors" arguments="{for:frontendUser}" />

        <f:form action="update" name="frontendUser" object="{frontendUser}" class="form-fields">
            <div class="flex-container">
                <div class="flex flex-basis-8 full-width-medium space-between">

                    <f:render partial="Password/PasswordFormFields" arguments="{_all}" />

                    <div class="btn-list btn-list--footer">
                        <f:link.action pageUid="{settings.welcomePid}" action="index" class="btn btn--secondary">
                            <f:translate key="templates_password_edit.labelBack"/>
                        </f:link.action>

                        <button type="submit" class="btn btn--primary">
                            <f:translate key="templates_password_edit.labelSave" />
                        </button>
                    </div>
                </div>
            </div>
        </f:form>

    </f:section>
</html>
