<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:for each="<feRegister:getAllFlashMessageIdentifier />" as="flashMessageQueueIdentifier">
    <f:flashMessages as="flashMessages" queueIdentifier="{flashMessageQueueIdentifier}">
        <f:if condition="{flashMessages}">
            <div class="system-message system-message--scroll" role="alert">
                <f:for each="{flashMessages}" as="flashMessage">
                    <div class="system-message__item system-message__item--severity{flashMessage.severity}">
                        <f:format.raw>{flashMessage.message}</f:format.raw>
                    </div>
                </f:for>
            </div>
        </f:if>
    </f:flashMessages>
</f:for>

</html>