<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:form.validationResults for="{object}">
		<f:if condition="{validationResults.flattenedErrors}">
			<div class="system-message system-message--scroll" role="alert">
				<f:for each="{validationResults.flattenedErrors}" key="propertyName" as="errors">
					<f:for each="{errors}" as="propertyError">
						<div class="system-message__item system-message__item--severity2">
							<f:translate
								key="form.error.{propertyError.code}"
								arguments="{0:'{f:translate(key:\"form.error.{propertyName}\")}'}" >{propertyError.message}
							</f:translate>
						</div>
					</f:for>
				</f:for>
			</div>
		</f:if>
	</f:form.validationResults>

</html>
