<f:comment>
    <!--
    @param $frontendUser
    @param $field The field to check if is required or optional
    @use arguments="{field: 'firstName', frontendUser: frontendUser}"
    -->
</f:comment>

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:if condition="<feRegister:isMandatoryField frontendUser='{frontendUser}' fieldName='{field}' />">
        <f:then>
            <span class="is-required"><f:translate key="partials_labelSuffix.labelRequired" /></span>
        </f:then>
        <f:else>
            <span class="is-optional"><f:translate key="partials_labelSuffix.labelOptional" /></span>
        </f:else>
    </f:if>
</html>
