<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <div class="form__field width50 break-after">
        <label class="form-label" for="gender">
            <f:translate key="tx_feregister_domain_model_frontenduser.tx_feregister_gender" />
            <f:render partial="LabelSuffix" arguments="{field: 'gender', frontendUser: frontendUser}" />
        </label>
        <f:form.select
            id="gender"
            class="select-field select-field--longer"
            property="txFeregisterGender"
            options="{99: '{f:translate(key:\"tx_feregister_domain_model_frontenduser.tx_feregister_gender.99\")}', 0: '{f:translate(key:\"tx_feregister_domain_model_frontenduser.tx_feregister_gender.0\")}', 1: '{f:translate(key:\"tx_feregister_domain_model_frontenduser.tx_feregister_gender.1\")}', 2: '{f:translate(key:\"tx_feregister_domain_model_frontenduser.tx_feregister_gender.2\")}'}" optionValueField="uid" optionLabelField="name"
        />
    </div>

    <f:comment>
        <f:if condition="<feRegister:titleList />">
            <f:render partial="FrontendUser/SingleFields/TitleField" arguments="{_all}" />
        </f:if>
    </f:comment>

    <div class="form__field width100">
        <label for="firstName">
            <f:translate key="tx_feregister_domain_model_frontenduser.first_name" />
            <f:render partial="LabelSuffix" arguments="{field: 'firstName', frontendUser: frontendUser}" />
        </label>
        <f:form.textfield
            property="firstName"
            id="firstName"
            additionalAttributes="{autocomplete:'fname'}"
        />
    </div>

    <div class="form__field width100">
        <label for="lastName">
            <f:translate key="tx_feregister_domain_model_frontenduser.last_name" />
            <f:render partial="LabelSuffix" arguments="{field: 'lastName', frontendUser: frontendUser}" />
        </label>
        <f:form.textfield
            property="lastName"
            id="lastName"
            additionalAttributes="{autocomplete:'lname'}"
        />
    </div>

    <div class="form__field width100">
        <label for="email">
            <f:translate key="tx_feregister_domain_model_frontenduser.email" />
            <f:if condition="<feRegister:isMandatoryField frontendUser='{frontendUser}' fieldName='email' /> == 0">
                <span class="optional">&nbsp;<f:translate key="partials_labelSuffix.labelOptional" /></span>
            </f:if>
        </label>
        <f:form.textfield
            property="email"
            id="email"
            type="email"
            additionalAttributes="{autocomplete:'email'}"
        />
    </div>


    <div class="form__field width100">
        <label for="company">
            <f:translate key="tx_feregister_domain_model_frontenduser.company" />
            <f:render partial="LabelSuffix" arguments="{field: 'company', frontendUser: frontendUser}" />
        </label>
        <f:form.textfield
            id="company"
            property="company"
            value="{frontendUser.company}"
        />
    </div>

    <div class="form__field width100">
        <label for="address">
            <f:translate key="tx_feregister_domain_model_frontenduser.address" />
            <f:render partial="LabelSuffix" arguments="{field: 'address', frontendUser: frontendUser}" />
        </label>
        <f:form.textfield
            id="address"
            property="address"
            value="{frontendUser.address}"
            additionalAttributes="{autocomplete:'address'}"
        />
    </div>

    <div class="form__field width50">
        <label for="zip">
            <f:translate key="tx_feregister_domain_model_frontenduser.zip" />
            <f:render partial="LabelSuffix" arguments="{field: 'zip', frontendUser: frontendUser}" />
        </label>
        <f:form.textfield
            id="zip"
            property="zip"
            value="{frontendUser.zip}"
            additionalAttributes="{autocomplete:'zip'}"
        />
    </div>

    <div class="form__field width50">
        <label for="city">
            <f:translate key="tx_feregister_domain_model_frontenduser.city" />
            <f:render partial="LabelSuffix" arguments="{field: 'city', frontendUser: frontendUser}" />
        </label>
        <f:form.textfield
            id="city"
            property="city"
            value="{frontendUser.city}"
            additionalAttributes="{autocomplete:'city'}"
        />
    </div>
</html>
