<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
    data-namespace-typo3-fluid="true">


    <f:comment><!-- do not print the initial parent category --></f:comment>
    <f:if condition="{category.uid} != {topicParentId}">
        <div class="feuser-topic-checkbox">
            <f:form.checkbox
                multiple="1"
                id="{namespace}-topic-{category.uid}"
                name="{namespace}[txFeregisterCategoriesTopics][{category.uid}]"
                class="checkbox"
                value="{category.uid}"
                property="txFeregisterCategoriesTopics"
                checked="{checked}"
            />
            <label class="checkbox-label" for="{namespace}-topic-{category.uid}">
                <span class="text-smaller">
                    {category.title}
                </span>
            </label>
        </div>
    </f:if>

    <f:comment><!-- print children recursive --></f:comment>
    <f:if condition="{categoryTree.subCategoryList.{category.uid}}">
        <div class="sub-category-list">
            <f:for each="{categoryTree.subCategoryList.{category.uid}}" as="category" iteration="iter">
                <feRegister:topicCheckbox category="{category}" categoryTree="{categoryTree}" />
            </f:for>
        </div>
    </f:if>

</html>