<f:comment>
    <f:render partial="FrontendUser/CategoryTopicList" arguments="{_all}" />
</f:comment>

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
    data-namespace-typo3-fluid="true">

{feRegister:GetFeUserMainCategory() -> f:variable(name: 'feUserCategoryTree')}

<h3><f:translate key="partials_frontenduser_categorytopiclist.headline" /></h3>

<f:for each="{feUserCategoryTree}" as="category" iteration="iter">
    <f:if condition="{iter.isFirst}">
        <feRegister:topicCheckbox category="{category}" categoryTree="{feUserCategoryTree}" />
    </f:if>
</f:for>

</html>
