<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <f:render partial="FlashMessages" arguments="{_all}" />
        <f:render partial="FormErrors" arguments="{for:frontendUser}"/>

        <f:form action="create" name="frontendUser" object="{frontendUser}" class="form-fields">
            <div class="flex-container">
                <div class="form flex flex-basis-6 full-width-medium space-between">
                    <f:render partial="Registration/RegisterFormFields" arguments="{_all}" />

                    <feRegister:consent type="terms"/>
                    <feRegister:consent key="registration" type="privacy"/>
                    <feRegister:consent type="marketing"/>

                    <f:render partial="Captcha" />

                    <button type="submit" class="btn btn--primary full-width-narrow">
                        <span><f:translate key="templates_frontendUser_new.labelRegister" /></span>
                    </button>
                </div>
            </div>
        </f:form>
    </f:section>
</html>
