<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">
        <h1 class="h2">
            <f:translate key="templates_frontendUser_welcome.headline" arguments="{0: frontendUser.firstName, 1: frontendUser.lastName}" />
        </h1>

        <f:render partial="AllFlashMessages" arguments="{_all}" />
        
        <f:if condition="{showContinue}">
            <div class="flex-container flex-basis-12 btn-list">
                <f:if condition="{referrer}">
                    <f:then>
                        <f:link.action action="welcome" arguments="{redirectToReferrer: 1}" class="btn btn--primary full-width-narrow" >
                            <f:translate key="templates_frontendUser_welcome.continue" />
                        </f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.page pageUid="{settings.welcomePid}" class="btn btn--primary full-width-narrow" >
                            <f:translate key="templates_frontendUser_welcome.continue" />
                        </f:link.page>
                    </f:else>
                </f:if>

            </div>            
        </f:if>
    </f:section>
</html>
