<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ajaxApi="http://typo3.org/ns/Madj2k/AjaxApi/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <template 
            class="ajax" 
            id="tx-feregister-login-info-ajax" 
            data-ajax-ignore="1" 
            data-ajax-url="{f:uri.action(action:'loginInfo', absolute:'1', addQueryString:'1', additionalParams:'{ajax_api : \'{key: ajaxHelper.key, cid: ajaxHelper.contentUid, idl: \\\'1\\\'}\'}') -> f:format.raw()}"
        ></template>
        
        <f:comment><!-- only do an ajax-call if fe-cookie is set. This is to reduce requests to the server--></f:comment>
        <script type="text/javascript">
            if (document.cookie.indexOf('fe_logged_in=') > -1) {
              document.getElementById('tx-feregister-login-info-ajax').setAttribute('data-ajax-ignore', 0);
            }
        </script>

        <ajaxApi:ajaxWrapper ajaxHelper="{ajaxHelper}" ajaxAction="replace" ajaxId="1">
            <div>
                <f:if condition="{ajaxHelper.isAjaxCall}">
                    <f:if condition="{frontendUser}">
                        <f:then>
                            <script>
                                function txFeRegisterSetLoginInfo() {
                                    <f:if condition="{frontendUser.lastName}">
                                        jQuery('#tx-feregister-username').html('<f:format.crop maxCharacters="15" respectWordBoundaries="false">{frontendUser.lastName}</f:format.crop>');
                                    </f:if>
                                    jQuery('.tx-feregister-login-class').addClass('is-logged-in');
                                    jQuery('.tx-feregister-login-text').html('{settings.users.loginText}');
                                }
                                txFeRegisterSetLoginInfo();
                            </script>
                        </f:then>
                        <f:else>
                            <script>
                                function txFeRegisterSetLoginInfo() {
                                    jQuery('.tx-feregister-login-class').addClass('is-logged-out');
                                }
                                txFeRegisterSetLoginInfo();
                            </script>
                        </f:else>
                    </f:if>
                </f:if>
            </div>
        </ajaxApi:ajaxWrapper>

    </f:section>
</html>
