<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <div class="form__field">
            <f:form.hidden name="{namespace}[{type}][subType]" value="{subType}" />
            <f:form.hidden name="{namespace}[{type}][key]" value="{key}" />
            
            <f:form.checkbox
                class="checkbox"
                id="{namespace}-{type}-{randomKey}"
                name="{namespace}[{type}][confirmed]"
                value="1"
                checked="{checked}"
            />
            
            <label for="{namespace}-{type}-{randomKey}" 
                   class="checkbox-label {f:if(condition:'{settings.consent.topics.enable} && !{disableTopicModal}', then:'js-open-mdl')}"
                   data-modal="{namespace}-{type}-{randomKey}-modal"
                   aria-haspopup="dialog"
                   aria-expanded="false"
                   aria-controls="{namespace}-{type}-{randomKey}-modal"
            >
                <span class="text-smaller">
                    <f:format.raw>
                        <f:translate key="templates_viewHelpers_consent_{type}.{key}" extensionName="feRegister" arguments="{0: companyName, 1: companyEmail}" />
                    </f:format.raw>
                </span>        
            </label>
        </div>

        <f:if condition="{settings.consent.topics.enable} && !{disableTopicModal}">
            <div
                id="{namespace}-{type}-{randomKey}-modal" 
                class="mdl"
                tabindex="-1"
                aria-labelledby="{namespace}-{type}-{randomKey}-modal-header-id"
            >
                <div class="mdl__inner">
                    <header class="mdl__header">
                        <span
                            class="h4 mdl__headline"
                            id="{namespace}-{type}-{randomKey}-modal-header-id"
                        >
                            <f:translate key="templates_viewHelpers_consent_marketing.topicHeadline" extensionName="fe_register" />
                        </span>
                    </header>
                    <div class="mdl__content contentbox">
                        <feRegister:topicList />
    
                        <button class="btn btn--primary js-close-mdl">
                            <f:translate key="templates_viewHelpers_consent_marketing.saveSelection" extensionName="fe_register" />
                        </button>
                    </div>
                </div>
                <button
                    class="mdl-close js-close-mdl"
                    aria-label="{f:translate(key: 'templates_viewHelpers_consent_marketing.closeButtonAriaLabel', extensionName: 'fe_register')}"
                >
                    <svg class="icon icon--48">
                        <use xlink:href="#ic-mobile-menu-close" />
                    </svg>
                </button>
            </div>
            <div class="mdl-layer js-mdl-layer"></div>
        </f:if>

    </f:section>

</html>