<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <div class="form__field">
            <f:form.hidden name="{namespace}[{type}][subtype]" value="{subtype}" />
            <f:form.hidden name="{namespace}[{type}][key]" value="{key}" />
            
            <f:form.checkbox
                class="checkbox"
                id="{namespace}-{type}-{randomKey}"
                name="{namespace}[{type}][confirmed]"
                value="1"
                checked="{checked}"
            />

            <label for="{namespace}-{type}-{randomKey}" class="checkbox-label">
                <span class="text-smaller">
                    <f:if condition="{key} == 'events'">
                        <f:then>
                            <f:format.raw><f:translate key="templates_viewHelpers_consent_{type}.{key}.partOne" extensionName="feRegister" /></f:format.raw>
                            <f:link.page pageUid="{pageUid}" target="_blank"><f:format.raw><f:translate key="templates_viewHelpers_consent_{type}.{key}.partTwo" extensionName="feRegister" /></f:format.raw></f:link.page><f:if condition="!{pageUid2}">.</f:if>
                            <f:if condition="{pageUid2}">
                                <f:format.raw><f:translate key="templates_viewHelpers_consent_{type}.{key}.partThree" extensionName="feRegister"  /></f:format.raw>
                                <f:link.page pageUid="{pageUid2}" target="_blank"><f:format.raw><f:translate key="templates_viewHelpers_consent_{type}.{key}.partFour" extensionName="feRegister"  /></f:format.raw></f:link.page>.
                            </f:if>
                            <f:format.raw><f:translate key="templates_viewHelpers_consent_{type}.{key}.partFive" extensionName="feRegister"  /></f:format.raw>
                        </f:then>
                        <f:else>
                            <f:format.raw><f:translate key="templates_viewHelpers_consent_{type}.{key}.partOne" extensionName="feRegister" /></f:format.raw>
                            <f:link.page pageUid="{pageUid}" target="_blank"><f:format.raw><f:translate key="templates_viewHelpers_consent_{type}.{key}.partTwo" extensionName="feRegister" /></f:format.raw></f:link.page>.
                        </f:else>
                    </f:if>
                </span>        
            </label>
        </div>
    </f:section>

</html>